<GameInfo>
	<Parameters>
		<Row ParameterId="GameMode_OneCity" Name="LOC_GAMEMODE_ONECITY_NAME" Description="LOC_GAMEMODE_ONECITY_DESCRIPTION" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_ONECITY" NameArrayConfigurationId="GAMEMODES_ENABLED_NAMES" GroupId="GameModes" SortIndex="130"  SupportsSinglePlayer="1" Visible="1" />
		<Row ParameterId="TCC_SettlerCount" Name="TCC Settler Count" Description="Description" Domain="TCCSettlerCountOptions" DefaultValue="3" ConfigurationGroup="Game" ConfigurationId="TCC_SettlerCount" GroupId="GameModes" SortIndex="131"/>
	</Parameters>

	<GameModeItems>
		<Row GameModeType="GAMEMODE_ONECITY" Name="LOC_GAMEMODE_ONECITY_NAME" Description="LOC_GAMEMODE_ONECITY_DESCRIPTION" Portrait="OneCity_Portrait.dds" Background="OneCity_Background.dds" Icon="ICON_GAMEMODE_ONECITY" UnitIcon="ICON_UNIT_EXPANSIONIST" UnitDescription="LOC_EXPANSIONIST_DESC" UnitName="LOC_EXPANSIONIST_NAME" SortIndex="40" />
	</GameModeItems>

	<ParameterDependencies>
		<!-- OCC -->
		<Row ParameterId="GameMode_OneCity" ConfigurationGroup="Game" ConfigurationId="RULESET" Operator="Equals" ConfigurationValue="RULESET_EXPANSION_2"/>
		<Row ParameterId="GameMode_OneCity" ConfigurationGroup="Game" ConfigurationId="WORLD_BUILDER" Operator="NotEquals" ConfigurationValue="1"/>
	</ParameterDependencies>

	<ConfigurationUpdates>
		<!-- OCC -->
		<Row SourceGroup="Game" SourceId="GAMEMODE_ONECITY" SourceValue="1" TargetGroup="Game" TargetId="GAME_NO_BARBARIANS" TargetValue="1" Static="1"/>
	</ConfigurationUpdates>

	<DomainValues>
		<Row Domain="TCCSettlerCountOptions" Value="1" Name="1" Description="One City Challenge" SortIndex="10"/>
		<Row Domain="TCCSettlerCountOptions" Value="3" Name="3" Description="Three City Challenge" SortIndex="20"/>
		<Row Domain="TCCSettlerCountOptions" Value="5" Name="5" Description="Five City Challenge" SortIndex="30"/>
	</DomainValues>

</GameInfo>